<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/onepage1.css">
</head>
<body>
    <div>
        <ul>
            <li class="logo">
                <a href="./intro">
                    <img src="/images/touxiang.jpg" alt="艺人资源管理" class="i1">
                    <span class="link-size">
                    <h1>TFBOYS</h1>
                    <h2 style="display:none;">TFBOYS</h2>
                    <span class="jiao_se">简介，成员</span>
                </span>
                </a>
            <!-- </li>
            <li class="head_list">
                <a href="//hlddz.qq.com/web202112/" onclick="PTTSendClick('link','goindex','官网首页');">HOME</a>
            </li>
            <li class="head_list">
                <a href="javascript:;"
                   onclick="PTTSendClick('btn','newsvideo','资讯视频');">NEWS</a>
            </li>
            <li class="head_list">
                <a href="javascript:;"
                   onclick="PTTSendClick('btn','match','赛事中心');">MATCH</a>
            </li>

            <li class="head_list">
                <a href="javascript:;" onclick="PTTSendClick('btn','play','娱乐频道');">COMMUNITY</a>
            </li>
            <li class="head_list">
                <a href="javascript:;" onclick="PTTSendClick('btn','player','玩家社区');">SUPPORT</a>
            </li>     -->
        </div>
        <script>
            
        </script>
</body>
</html>